target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

eula.txt

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

cache/
config/
libraries/
logs/
world/
world_nether/
world_the_end/
plugins/
/cache/
/config/
/libraries/
/logs/
/world/
/world_nether/
/world_the_end/
/plugins/
eula.txt
banned-ips.json
banned-players.json
commands.yml
bukkit.yml
help.yml
ops.json
permissions.yml
pufferfish.yml
purpur.yml
server.properties
spigot.yml
usercache.json
version_history.json
whitelist.json
versions/


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store